.fixed-image-size {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-fit: contain;
    background-color: #f0f0f0;
}


.OfertaPortada {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.logoFBE{
    width: 70px;
    height:70px;
}